// Green Shades
$mint-breeze: #7BCC9E;
$emerald-surge: #23AB5E;
$misty-meadow: #DEF3E7;
$deep-forest: #025B46;

// Red & Pink Shades
$cranberry-crush: #BC3D50;
$rose-mist: #EBC3CA;

// Neutral Shades
$parchment-glow: #FFFEF7;
$charcoal-veil: rgba(0, 0, 0, 0.95);